body{
    margin-left: 10%;
    margin-right: 10%;
    
    background: #131313;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}
a:link{
    font-family: sans-serif;
    color: white;
}
a:visited{
    font-family: sans-serif;
    color: white;
}

a:hover{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.bold{
    color: #B6FF00;
}

.spacer{
    padding-top: 50px;
}

.content{
    background: #353535;
}

.button {
  background-color: #B6FF00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 8px;}
}

.buttonClass {
  font-size:15px;
  font-family:sans-serif;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#3b6e22;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:linear-gradient(#74ad5a, #68a54b);
}

.buttonClass:hover {
  background: linear-gradient(#68a54b, #74ad5a);
}
