body{
    margin-left: 10%;
    margin-right: 10%;
    
    background: linear-gradient(#131313, #363636);
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
a:link{
    font-family: sans-serif;
    color: white;
}
a:visited{
    font-family: sans-serif;
    color: white;
}

a:hover{
    font-family: sans-serif;
    color: rgb(222, 222, 222);
}

.bold{
    color: green;
}

.spacer{
    padding-top: 50px;
}

.content{
    background: #353535;
}
