body{
    margin-left: 10%;
    margin-right: 10%;
    
    background: #131313;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}
a:link{
    font-family: sans-serif;
    color: white;
}
a:visited{
    font-family: sans-serif;
    color: white;
}

a:hover{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.bold{
    color: #B6FF00;
}

.spacer{
    padding-top: 50px;
}

.content{
    background: #353535;
}

.button {
  background-color: #B6FF00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 8px;}
}
